<?xml version="1.0"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory>
  <property name="show_sql">true</property>
  <property name="max_fetch_depth">5</property>
  <property name="connection.pool_size">50</property>
  <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
  <property name="connection.url">jdbc:mysql://127.0.0.1:3306/smddb_test</property>
  <property name="connection.username">fick707</property>
  <property name="connection.password">Fick707$%!@$@</property>
  <mapping class="com.fick.smd.hibernate.formbean.sysbean.SysChangeLog" resource="com/fick/smd/hibernate/formbean/sysbean/SysChangeLog.hbm.xml"/>
  <mapping class="com.fick.smd.hibernate.formbean.stockbean.StockDef" resource="com/fick/smd/hibernate/formbean/stockbean/StockDef.hbm.xml"/>
  <mapping class="com.fick.smd.hibernate.formbean.esperbean.EplDef" resource="com/fick/smd/hibernate/formbean/esperbean/EplDef.hbm.xml"/>
  <mapping class="com.fick.smd.hibernate.formbean.stockbean.StockProps" resource="com/fick/smd/hibernate/formbean/stockbean/StockProps.hbm.xml"/>
  <mapping class="com.fick.smd.hibernate.formbean.stockbean.StockStorage" resource="com/fick/smd/hibernate/formbean/stockbean/StockStorage.hbm.xml"/>
  <mapping class="com.fick.smd.hibernate.formbean.stockbean.StockDealDetail" resource="com/fick/smd/hibernate/formbean/stockbean/StockDealDetail.hbm.xml"/>
 </session-factory>
</hibernate-configuration>
